<header class="topbar">
  <div class="brand" routerLink="/dashboard">
    <span class="brand-icon">🚘</span>

    <div>
      <strong>Concessionária</strong>
      <span>Sistema de Gestão</span>
    </div>
  </div>

  <nav class="navigation">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Início
    </a>

    <a
      routerLink="/veiculos/cadastro"
      routerLinkActive="active"
      class="nav-link"
    >
      Cadastrar veículo
    </a>

    <a
      routerLink="/veiculos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Consultar veículos
    </a>

    <a
      routerLink="/clientes/cadastro"
      routerLinkActive="active"
      class="nav-link"
    >
      Cadastrar cliente
    </a>

    <a
      routerLink="/clientes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      Consultar clientes
    </a>

    <button
      type="button"
      class="logout-button"
      (click)="logout()"
    >
      Sair
    </button>
  </nav>
</header>
